/Project-Theseus/Prototypes/Thesus-Drive/Theseus-Drive/nbproject/private/
/Project-Theseus/Prototypes/Thesus-Drive/Theseus-Drive/build/
/Project-Theseus/Prototypes/Thesus-Drive/Theseus-Drive/dist/
/Testing/Proto_V1/PC/Anemoi-Drive/build/